
@import "tailwindcss";
.sorting {
  width: 100%;
  min-height: 100vh;
  background: #121419;
}


/* Bar styles */
.bar {
  width: 24px;
  margin: 0 6px;
  border-radius: 6px 6px 0 0;
  transition: height 0.25s ease, background 0.25s ease;
}

.text {
  text-align: center;
  transform: rotate(-90deg);
  background: transparent;
  border: none;
  outline: none;
  font-size: 12px;
  color: white;
  font-weight: bold;
}

/* Button hover fix */
.quantity-button {
  background: #1f1f1f;
  cursor: pointer;
  color: white;
}
