/* Page area behind the board */
.board-container {
  min-height: 100vh;
}

/* The grid itself */
.board {
  display: grid;
  grid-template-columns: repeat(var(--board-size, 4), 70px);
  grid-template-rows: repeat(var(--board-size, 4), 70px);
}

/* Each cell */
.boardCell {
  width: 70px;
  height: 70px;
  box-sizing: border-box;
  outline: 2px solid #607d8b;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Checkerboard colors */
.light {
  background-color: #eaeac9;
}

.dark {
  background-color: #718f4b;
}

/* States */
.checked {
  background-image: radial-gradient(circle, #b3e5fc, #29b6f6);
}

.attacked {
  background-image: radial-gradient(circle, #ef9a9a, darkred);
}

.current {
  background-image: radial-gradient(circle, #fff176, #f57f17);
}

.present {
  background-image: radial-gradient(circle, #dce775, #43a047);
}
