/* full page background like others */
.stack-page {
  min-height: 100vh;
  /* background: #121419; */
  padding-top: 6rem; /* space under fixed navbar */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* stack list style */
.stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* box appearance */
.element {
  list-style: none;
  color: aliceblue;
  background: #393e46;
  height: 2em;
  width: 2em;
  border: 4px solid #1254be;
  margin: 0.2em 0;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.element:hover {
  background: #4cb4e9;
  color: #424b53;
}

/* top element in stack */
.top {
  background: #4ecca3;
  color: white;
}

/* arrow indicator */
.arrow {
  position: relative;
  left: 70px;
  bottom: 60px;
}

/* empty state */
.empty {
  list-style: none;
  color: aliceblue;
  background: #1254be;
  border: 4px solid #393e46;
  padding: 1em 1.5em;
  font-size: 40px;
  border-radius: 0.5rem;
}
